<quantity-input class="quantity flex items-center justify-center h-full border rounded-8 px-16 border-grey-200 border-solid  gap-2 ">
  <button
    class="quantity__button border-none flex items-center justify-center"
    name="minus"
    type="button"
  >
    <span class="invisible hidden">
      {{- 'product.quantity.decrease' | t: product_title: product.title | escape -}}
    </span>
    {%- render 'icon_v2', icon: 'icon-minus' -%}
  </button>
  <input
    class="quantity__input w-full text-center border-none appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none [-moz-appearance:textfield]"
    type="number"
    name="quantity"
    id="Quantity-{{ section.id }}"
    min="1"
    value="1"
    form="{{ product_form_id }}"
  >
  <button
    class="quantity__button border-none flex items-center justify-center"
    name="plus"
    type="button"
  >
    <span class="invisible hidden items-center justify-center">
      {{- 'product.quantity.increase' | t: product_title: product.title | escape -}}
    </span>
    {%- render 'icon_v2', icon: 'icon-plus' -%}
  </button>
</quantity-input>
