<div class="warning-message-box-wrapper">
  <div class="warning-message-box">
    <span class="warning-message-box-icon">
      {% render 'icon_v2', icon: 'warning-icon' %}
    </span>
    <span class="warning-message-box-text">
      {{- text -}}
    </span>
  </div>
</div>
